@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);
/* line 5, ../sass/partials/_extendables.scss */
h1, h2, h3 {
  font-family: "Merriweather", "Vollkorn", "Old Standard TT", serif;
}

/* line 9, ../sass/partials/_extendables.scss */
h4, h5, h6, p {
  font-family: "Lato", "Open Sans", "Ubuntu", sans-serif;
}

/* line 13, ../sass/partials/_extendables.scss */
h2, h3, h4 {
  color: #aa6e18;
}

/* line 32, ../sass/style.scss */
button {
  background: #95a5a6;
  border-radius: 3px;
  border-style: outset;
  border-width: px;
}
/* line 23, ../sass/style.scss */
button:active {
  border-style: inset;
  background: rgba(149, 165, 166, 0.25);
}
/* line 27, ../sass/style.scss */
button:hover {
  cursor: pointer;
}
