@import "partials/colors";
@import "partials/typography";
@import "partials/extendables";

h1, h2, h3 {
  @extend %serif;
}

h4, h5, h6, p {
  @extend %sans;
}

h2, h3, h4 {
  @extend %secondaryColor;
}

// 07 fancy buttons
@mixin fancyButton($color: $flatbgColor, $corners: 3px, $border: 2px, $alpha: .25) {
  background: $color;
  border-radius: $corners;
  border-style: outset;
  border-width: $border;
  &:active {
    border-style: inset;
    background: rgba($color, $alpha);
  }
  &:hover {
    cursor: pointer;
  }
}

button {
  @include fancyButton($flatbgColor, 3px, px, .25);
}

