// 06 organization

// 04 choose primary, secondary, and tertiary colors, and make your h1 your primary
$primaryColor: #544F60;
$secondaryColor: #AA6E18;
$tertiaryColor: #1E1C09;

// 07 fancy buttons
$flatbgColor: #95a5a6;
